---
import BaseHead from "../components/BaseHead.astro";
import HeaderWithLaunguageSelector from "../components/HeaderWithLanguageSelector.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Trans } from "astro-i18next/components";
import i18next, { changeLanguage } from "i18next";

changeLanguage("ja");
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <HeaderWithLaunguageSelector title={SITE_TITLE} />
    <main>
      <h1>About me</h1>
      <p><strong>Gen Shu (genkey6)</strong></p>
      <p><Trans i18nKey='aboutMe.bio'>2023年6月~ 株式会社10X<br/>2019年1月~2023年5月 キャディ株式会社<br/>2020年 東京大学経済学部卒</Trans></p>
      <p><Trans i18nKey='aboutMe.workHistory'>キャディ株式会社では原価計算システムのプロダクトマネジメントに従事したのち、ソフトウェアエンジニアに転向。複数の社内向けWebアプリケーションの立ち上げ、開発に携わった。<br/>現在は株式会社10Xでソフトウェアエンジニアとして働いている。</Trans></p>
      <h2>Favorite</h2>
      <p>Programming Languages</p>
      <ul>
        <li>TypeScript</li>
        <li>Rust</li>
        <li>Python</li>
      </ul>
      <p>Hobbies</p>
      <ul>
        <li>Music (Piano, Synthesizer)</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
