---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { LanguageSelector } from 'astro-i18next/components';
import i18next from "i18next";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href={getRelativeLocaleUrl(i18next.language, "/")}>About</HeaderLink>
    <HeaderLink href={getRelativeLocaleUrl(i18next.language, "/blog")}>Blog</HeaderLink>
    <LanguageSelector />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
